.recipe-search {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-container {
    display: flex;
    gap: 10px;
  }
  
  .search-container input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-container button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-container button:hover {
    background-color: #0056b3;
  }

  /* Estilos para a exibição da receita */
.recipe-result {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-result h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .recipe-result img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .recipe-result p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  